.venv/
__pycache__/
Datasets/*
!Datasets/dataIterBase.py
!Datasets/dataIterBert.py
!Datasets/datasets.py
!Datasets/glove.py
!Datasets/trec.py
!Datasets/trecdl.py
Results/
#models/__pycache__/
#models/dpr_model.py
#models/drmm_model.py
#models/lstm_model.py
train/train_drmm.py
trained/
utilities/
!utilities/metrics.py
!utilities/utility.py
bert-base-uncased-vocab.txt
build_index.sh
msmarco_neg.txt
*.ipynb
*.py
!attack_methods.py
!attack_run.py
!attack_trigger_length.py
!attack_trigger_multiple_docs.py
!attack_trigger_position.py
!ranklist.py