.venv/
__pycache__/
*.ipynb
*.py
!models
models/*
!models/base_model.py
!models/bert_model.py
!models/retrieve_models.py
!Datasets
Datasets/*
!Datasets/dataIterBase.py
!Datasets/dataIterBert.py
!Datasets/datasets.py
!Datasets/glove.py
!Datasets/trec.py
!Datasets/trecdl.py
Results/

train/train_drmm.py
trained/
utilities/
!utilities/metrics.py
!utilities/utility.py
bert-base-uncased-vocab.txt
build_index.sh
msmarco_neg.txt
!attack_methods.py
!attack_run.py
!attack_trigger_length.py
!attack_trigger_multiple_docs.py
!attack_trigger_position.py
!ranklist.py